body{
    font-family: Verdana
}
.titlefont{
    font-family:'Gill Sans';   
}
.ccolor{
    background-color: #62DAD3;
}
.ncolor{
    background-color: #051B54 ;
}
.btncolor{
    background-color: #FFFFFF33;    
}